
data_api/node_modules/
AuthAPI/node_modules/
UserAPI/node_modules/

frontend/node_modules/

.vscode/

ngrok

frontend/public/storage/

frontend/uploads/

ingestion_storing/storing/storage/

ingestion_storing/storing/
