extends layout

block content
    include header
    include navbar
    div(style='margin-top: 75px; display: flex; justify-content: center;')
        div.w3-card-4.w3-padding-large.w3-light-grey.w3-margin-bottom(style='width: 60%; min-width: 600px;')
            h2.w3-center Adicionar Notícia
            form.w3-container.w3-margin-bottom(action='/admin/noticia/add', method='POST', enctype='multipart/form-data')
                p
                    label(for='title') Título:
                    input.w3-input(type="text" id="title" name="title" required)
                p
                    label(for="public") notícia Pública?:
                    select.w3-select(id="public" name="public" required)
                        option(value="true") Sim
                        option(value="false") Não
                p
                    label(for="content") Conteúdo
                    textarea.w3-input(type="text" id="content" name="content" required)
                p.w3-center
                    button.w3-button.w3-blue(type='submit') Submeter
    include footer

    script.
        var noticiaFlag = "#{noticiaFlag}"
         if (noticiaFlag === "false") {
            var msg = "#{msg}";
            alert('Falha ao c: ' + msg);
        }