extends layout

block content
  div.error-container
    h1.error-heading Oops!
    p.error-message Something went wrong.
    p.error-message #{message}
    img.error-image(src="error-image.png", alt="Error Image")
    a.error-link(href="/") Go back to the homepage