extends layout 

block content
  div(style="padding-top: 50px;")
  footer.w3-container.w3-black.w3-display-container.w3-margin-top(style="position: fixed; bottom: 0; width: 100%;")
    p.w3-margin.w3-bar
      span Gerado por AROM & FALAPE @ RPCW2023 |
      a(href="/" style="margin-left: 5px;") [Home]


