extends layout
block content
  link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
  link(rel='stylesheet', href='/stylesheets/social_style.css')
  include header
  header.w3-container.w3-black
    h2.w3-center Login
  div.w3-container(style="display: flex; justify-content: center;")

    form.w3-container.w3-card-4.w3-light-grey.w3-text-black.w3-margin(style='min-width: 500px;', method='post', action='/login')
      h3.w3-center Enter your details


      label Username
      input.w3-input.w3-border.w3-margin-bottom(type='text', name='username', required)

      label Password
      input.w3-input.w3-border.w3-margin-bottom(type='password', name='password', required)

      button.w3-button.w3-block.w3-black.w3-margin-bottom(type='submit') Login

      a.w3-button.w3-block.w3-blue.w3-margin-bottom(href='/signup') Sign Up

      a.google-btn.w3-button.w3-block.w3-margin-bottom(href='/login/google')
        img(src='https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg', alt='Google logo')
        span Login with Google
  include footer

  script.
        var wrong_data = null 

        var wrong_data = "#{wrong_data}"
        if (wrong_data === "true") {
            var error = "#{error}"
            alert('Login failed: ' + error);
        }

        var userDeleted = null 

        var userDeleted = "#{userDeleted}"
        if (userDeleted === "true") {
            var msg = "#{msg}"
            alert(msg);
        }
