extends layout

block content
  include header
  header.w3-container.w3-black
    h2.w3-center Login
  div.w3-container(style="display: flex; justify-content: center;")

    form.w3-container.w3-card-4.w3-light-grey.w3-text-black.w3-margin(style='min-width: 500px;', method='post', action='/login')
      h3.w3-center Enter your details


        label Username
        input.w3-input.w3-border.w3-margin-bottom(type='text', name='username', required)

        label Password
        input.w3-input.w3-border.w3-margin-bottom(type='password', name='password', required)

        button.w3-button.w3-block.w3-black.w3-margin-bottom(type='submit') Login

        a.w3-button.w3-block.w3-blue.w3-margin-bottom(href='/signup') Sign Up

