extends layout 

block content
  nav.w3-bar.w3-black
    a.w3-bar-item.w3-button.w3-right(href='/logout') Logout
    a.w3-bar-item.w3-button.w3-right(href='/users/getUser') Perfil 
    a.w3-bar-item.w3-button.w3-right(href='/submission') Submeter novo recurso
    a.w3-bar-item.w3-button.w3-right(href='/resources') Recursos
    a.w3-bar-item.w3-button.w3-right(href='/') Home
