extends layout 

block content
  nav.w3-bar.w3-black
    a.w3-bar-item.w3-button.w3-right(href='/logout') Logout
    a.w3-bar-item.w3-button.w3-right(href='/users/getUser') Perfil 
    if userInfo.role === 'admin'
      a.w3-bar-item.w3-button.w3-right(href='/users') Utilizadores
      a.w3-bar-item.w3-button.w3-right(href='/users') Role Update Requests
    if userInfo.role === 'admin' || userInfo.role === 'producer'
      a.w3-bar-item.w3-button.w3-right(href='/submission') Submeter novo recurso
      a.w3-bar-item.w3-button.w3-right(href='/recursos') Meus Recursos
    a.w3-bar-item.w3-button.w3-right(href='/recursos') Recursos
    a.w3-bar-item.w3-button.w3-right(href='/') Home
