extends layout 

block content
  nav.w3-bar.w3-black
    if true
      a.w3-bar-item.w3-button.w3-right(id="logoutButton" data-bs-toggle="modal" data-bs-target="#logoutModal") Logout
    else 
      a.w3-bar-item.w3-button.w3-right(href='/logout') Logout
    a.w3-bar-item.w3-button.w3-right(href='/users/getUser') Perfil 
    a.w3-bar-item.w3-button.w3-right(href='/listUsers') Utilizadores
    if userInfo.role === 'admin'
      a.w3-bar-item.w3-button.w3-right(href='/admin/updateRequests') Role Update Requests
    if userInfo.role === 'admin' || userInfo.role === 'producer'
      a.w3-bar-item.w3-button.w3-right(href='/submission') Submeter novo recurso
      a.w3-bar-item.w3-button.w3-right(href='/users/recursos/' + userInfo.userId) Meus Recursos
    a.w3-bar-item.w3-button.w3-right(href='/recursos') Recursos
    a.w3-bar-item.w3-button.w3-right(href='/') Home
  include modal_logout


