extends layout

block content
  include header
  include navbar
  div.page-container
    h1.page-heading Welcome, #{userInfo.username}!
    div.user-info
      p Role: #{userInfo.role}
      p UserId: #{userInfo.userId}
      p Token: #{userInfo.token}
    a.w3-button.w3-blue(href='/users/getUser') Get User
  include footer

