extends layout

block content
    include header
    include navbar

    div.w3-display-middle(style='margin-top: 75px;')
        div.w3-card-4.w3-padding-large.w3-light-grey(style='width: 100%; min-width: 600px;')
            h2.w3-center Carregue um Ficheiro
            form.w3-container(action='/upload2', method='POST', enctype='multipart/form-data')
                p
                    label(for='title') Título:
                    input.w3-input(type='text' id='title' name='title' required)
                p
                    label(for='author') Autor (se não for o Utilizador):
                    input.w3-input(type='text' id='author' name='author')
                p
                    label(for='publicResource') Recurso Público?:
                    select.w3-select(id='publicResource' name='publicResource')
                        option(value='yes') Sim
                        option(value='no') Não
                p
                    label(for='type') Tipo:
                    select.w3-select(id='type' name='type')
                        option(value='relatório') Relatório
                        option(value='tese') Tese
                        option(value='artigo') Artigo
                        option(value='aplicação') Aplicação
                        option(value='slides') Slides
                        option(value='teste') Teste
                        option(value='exame') Exame
                        option(value='problema resolvido') Problema resolvido
                p
                    input(type='checkbox' id='multipleSwitch', name='multiple')
                    label(for='multipleSwitch') Permitir vários ficheiros
                p#filesContainer
                    div.file-input-group
                        label(for='fileSingle') Selecione um ficheiro:
                        input.w3-input(type='file' id='fileSingle' name='Myfiles' required)
                p
                    button#addFileButton(type='button' style='display: none;') Adicionar outro arquivo

                p.w3-center
                    button.w3-button.w3-blue(type='submit') Submeter

    div(style="padding-top: 100px;")
    include footer

    script.
        document.addEventListener('DOMContentLoaded', (event) => {
            var flagAlert = "#{flagAlert}"
            if (flagAlert === "true") {
                var flagError = "#{flagError}";
                alert('Upload do recurso falhou: ' + flagError);
            }

            const multipleSwitch = document.getElementById('multipleSwitch');
            const filesContainer = document.getElementById('filesContainer');
            const addFileButton = document.getElementById('addFileButton');
            let fileCount = 1;

            multipleSwitch.addEventListener('change', () => {
                if (multipleSwitch.checked) {
                    addFileButton.style.display = 'block';
                } else {
                    addFileButton.style.display = 'none';
                    while (fileCount > 1) {
                        removeFileInput();
                    }
                }
            });

            addFileButton.addEventListener('click', () => {
                const newFileInput = document.createElement('input');
                const removeButton = document.createElement('button');
                const fileInputGroup = document.createElement('div');
                fileInputGroup.className = 'file-input-group';
                
                newFileInput.type = 'file';
                newFileInput.name = 'Myfiles';
                newFileInput.classList.add('w3-input');
                newFileInput.required = true;
                newFileInput.id = `file${++fileCount}`;

                removeButton.textContent = 'Remover';
                removeButton.type = 'button';
                removeButton.addEventListener('click', () => {
                    fileInputGroup.remove();
                    fileCount--;
                });

                fileInputGroup.append(newFileInput, removeButton);
                filesContainer.append(fileInputGroup);
            });

            function removeFileInput() {
                const inputToRemove = document.getElementById(`file${fileCount--}`);
                if(inputToRemove) {
                    inputToRemove.parentNode.remove();
                }
            }
        });
