.google-btn {
    display: inline-flex;
    align-items: center;
    background-color: #c0c4c9 !important;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .google-btn img {
    height: 18px;
    width: 18px;
    margin-right: 10px;
  }
  
  .google-btn:hover {
    background-color: #357ae8;
  }
  